html, body{
    overflow: hidden;
    min-width :1000px;
  }

.content h1 {
    margin: 0 0 20px 0;
    padding: 1.5rem 0 0 10rem;
    font-family: Arial Black;
    font-size: 70px;
    color: #000000;
    color: rgb(0, 0, 0);
}

.detail_content {
    margin: 0 0 50px;
}

.detail_content .slick-next {
    right: 20px;
    z-index: 99;
}

.detail_content .slick-prev {
    left: 15px;
    z-index: 100;
}

.swiper-container {
    display: flex;
    position: relative;
    overflow: hidden;
}

.swiper-slide {
    text-align: center;
    line-height: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    margin: -60px 20px;
    padding: 10px;
    background: none;
}

.swiper-button-prev {
    width: 20px;
    height: 20px;
    border: 5px solid;
    border-color: transparent #fff #fff transparent;
    transform: rotate(135deg);
}

.swiper-button-next {
    width: 20px;
    height: 20px;
    border: 5px solid;
    border-color: #fff transparent transparent #fff;
    transform: rotate(135deg);
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    transition: all 0.3s ease;
    opacity: 0.6;
}

#title_bg {
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
    margin-left: 20px;
    width: 420px;
    height: 7.5rem;
    transform: skewX(-16deg);
	background: #c8c8c8;
    border-left: solid 5px #000;
}

#title_bg h2 {
    margin: 20px 0 0 40px;
    font-family: Noto Sans JP;
    font-size: 40px;
    font-weight: 900;
}

#title_bg p {
    margin: 5px 0 0 40px;
    font-family: Noto Sans JP;
    font-size: 16px;
    font-weight: 900;
}

#title_bg_min {
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
    margin-left: 20px;
    width: 420px;
    height: 7.5rem;
    transform: skewX(-16deg);
	background: #c8c8c8;
    border-left: solid 5px #000;
}

#title_bg_min h2 {
    margin: 30px 0 0 40px;
    font-family: Noto Sans JP;
    font-size: 32px;
    font-weight: 900;
}

#title_bg_min p {
    margin: 15px 0 0 40px;
    font-family: Noto Sans JP;
    font-size: 16px;
    font-weight: 900;
}

#title_bg_umin {
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
    margin-left: 20px;
    width: 420px;
    height: 7.5rem;
    transform: skewX(-16deg);
	background: #c8c8c8;
    border-left: solid 5px #000;
}

#title_bg_umin h2 {
    margin: 25px 0 0 30px;
    font-family: Noto Sans JP;
    font-size: 2８px;
    font-weight: 900;
}

#title_bg_umin p {
    margin: 5px 0 0 30px;
    font-family: Noto Sans JP;
    font-size: 16px;
    font-weight: 900;
}

#ex_txt {
    width: 100%-520px;
    height: 7.5rem;
    margin: 0 60px 0 520px;
    bottom: 10px;
    position: fixed;
}

#ex_txt p {
    font-family: Noto Sans JP;
    font-size: 16px;
    line-height: 1.5em
}