.menu_sw_bk {
    display: block;
    position: static;
    z-index: 9999;
    width: 6.5rem;
    height: 9.5rem;
    background: #000;
    transform: rotate(9deg) skew(calc((90deg - 108deg) / 2), calc((90deg - 108deg) / 2));
    /* calc((90deg - 欲しい角度) / 2) */
}

.menu_sw_settings {
    margin-left: 30px;
}

.up_sw_settings {
    margin-left: auto;
}

/*ヘッダーまわりはサイトに合わせて調整してください*/
header {
    position: fixed;
    margin-top: -25.5%;
}

#nav-drawer {
    margin-left: 55px;
    margin-top: -55px;
    position: relative;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
    display: none;
}

/*アイコンのスペース*/
#nav-open {
    display: inline-block;
    width: 30px;
    height: 22px;
    vertical-align: middle;
}

#nav-open span,
#nav-open span:before,
#nav-open span:after {
    position: absolute;
    height: 4px;
    /*線の太さ*/
    width: 32px;
    /*長さ*/
    background: #fff;
    display: block;
    content: '';
    cursor: pointer;
}

#nav-open span:hover {
    position: absolute;
    cursor: pointer;
    transition: all 0.2s ease;
    opacity: 0.5;
}

#nav-open span:before {
    bottom: -10px;
}

#nav-open span:after {
    bottom: -20px;
}

/*閉じる用の薄黒カバー*/
#nav-close {
    display: none;
    /*はじめは隠しておく*/
    position: fixed;
    z-index: 999;
    top: 0;
    /*全体に広がるように*/
    left: 0;
    width: 100%;
    height: 100%;
    background: #505050;
    opacity: 1;
    transition: .3s ease-in-out;
}

/*中身*/
#nav-content {
    margin-top: -2.5%;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    /*最前面に*/
    width: 90%;
    /*右側に隙間を作る（閉じるカバーを表示）*/
    max-width: 700px;
    /*最大幅（調整してください）*/
    height: 106%;
    background: #000;
    /*背景色*/
    transition: .3s ease-in-out;
    /*滑らかに表示*/
    -webkit-transform: translateX(-105%);
    transform: translateX(-500%) rotate(9deg) skew(calc((90deg - 108deg) / 2), calc((90deg - 108deg) / 2));
    /*左に隠しておく*/
}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
    display: block;
    /*カバーを表示*/
    opacity: .5;
}

#nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(-40%) rotate(9deg) skew(calc((90deg - 108deg) / 2), calc((90deg - 108deg) / 2));
    /*中身を表示（右へスライド）*/
    box-shadow: 6px 0 25px rgba(0, 0, 0, .15);
}

#nav-content ul {
    margin: 200px 0 0 40%;
    list-style: none;
    font-family: Arial Black;
    font-style: italic;
    font-size: 36px;
    color: #FFFFFF;
    color: rgb(255, 255, 255);
}

#nav-content ul li {
    margin: 20%;
}

#nav-content ul li a {
    text-decoration: none;
    color: #fff;
}

#nav-content ul li a:hover {
    transition: all 0.2s ease;
    opacity: 0.5;
    cursor: pointer;
}
